<!DOCTYPE html>
<html>
<html data-theme="lemonade"></html>
  <head>
    <title>SampleApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= turbo_include_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "node_modules/preline/dist/preline", "data-turbo-track": "reload", defer: true %>
  </head>

  <header>
  <%= render 'shared/header' %>
  </header>
  <body>
    <%= yield %>
   
  </body>
  <footer>
  <%= render 'shared/footer' %>
  </footer>
</html>